*{
    margin: 0%;
    padding: 0%;
    border: black solid 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header, footer div{
    background-color: rgb(247, 215, 128) ;
    height: 100px;
}
header div nav ul li {
    list-style-type: none;
    float: left;
    text-decoration:none;
    text-align:center;
    margin: 3%; 
    
}
header div nav ul li :hover {
    list-style-type: none;
    float: left;
    text-decoration:none;
    text-align:center;
    margin: 3%;
    background-color:rgba(255, 0, 0, 0.815); 
}
header div{
    width: 33%;
    float:left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
header div nav
{
    width:100%;
    height: auto;
    
}
header div nav ul{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}
header div nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 120% ;
}
header div h1{
    text-align: center;
    font-size: 400%;
    
}
.contactanos{
    background-color: rgba(255, 0, 0, 0.295);
    height: auto;
}
.contactanos h4, h2, p{
    text-align:center;
}
.contactanos button
{   
    height:50px;
    width:10%;
    margin-left:45%;
    margin-right:45%;
    display: flex;
    justify-content: center;
   background-color:rgba(255, 0, 0, 0.295);
   border: 0px;
}
.contactanos button a
{   
    display: flex;
    align-items:center;
    font-size:large;
    text-decoration:none;
    color: black;
    
}
footer div img{
    height: 70%;
    float: left;
}
footer div p{
    display:flex;
    justify-content: center;
    align-items:flex-end;
}
main{
    
    margin: 3%;
}
main h1{
    font-size: 200%;
    margin-bottom: 2%;
}
main div{
    display:flex;
    justify-content: space-around;
}
main section div p{
    width: 40%;
    float: left;
    display:flex;
    align-items:center;
    text-align: justify;
    
}
.carrusel{
    margin: 3%;
    background-color: rgba(128, 128, 128, 0.507);
    display:flex;
    justify-content: space-around;
}
.carrusel img{
    margin-top:2%;
    margin-bottom:2%;
    height:300px;
    width:auto;
}
main section div img{
    margin-top: 2%;
    margin-bottom: 2%;
}
.alojamiento div img{
    width: 80%;
    height:auto;
    display:flex;
    margin-left: 10%;
    margin-right:10%;
    margin-top: 10%;
}
.alojamiento div{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 40%;
    height: auto;
    float: left;
    margin:3%;
    background-color:rgba(247, 215, 128, 0.514) ;
}
.alojamiento div:hover{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 40%;
    height: auto;
    float: left;
    margin:3%;
    background-color:rgb(247, 215, 128) ;
}
.alojamiento div p{
    margin:5%;
    width:90%;
}
main h3{
    clear:both;
}
.museo1{
    float: left;
}
.museo1 div{
    display:flex;
    flex-direction: column;
    float: left;
}
.museo1 img{
    
}

